* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Georgia", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #364b58;
}

h1,
h2,
strong {
    color: #333;
}

.page {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

a {
    color: #e81c4f;
    text-decoration: none;
}

.info {
    background: #f5f7f9;
    border-bottom: 1px solid #c8ced9;
    border-left: 2px solid #47a;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media (max-width: 400px) {
    .page {
        width: 100%;
    }
    
    .info>ul {
        list-style-type: square;
    }
}

@media (min-width: 401px) and (max-width: 960px) {
    .page {
        width: 100%;
    }
}

@media (min-width: 961px) {
    .page {
        width: 800px;
    }
}

@media (min-width: 401px) {
    .info>ul>li {
        margin-left: 1em;
    }

    .info>ul {
        list-style-type: none;
    }

    .experience>ul>li,
    .reward>ul>li {
        margin-bottom: 0.8em;
    }

    .experience>ul>li:last-of-type,
    .reward>ul>li:last-of-type {
        margin-bottom: 0;
    }

    .general {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .general>.row {
        display: flex;
        justify-content: flex-start;
    }

    .reward>ul>li,
    .education>ul>li {
        display: flex;
        justify-content: flex-start;
    }
    
    .reward>ul>li>div,
    .education>ul>li>div,
    .general>.row>.row-item {
        margin: 0.8em 2em 0 0;
    }
}
