/*
    refer from
    lightbox gallery
    A PEN BY Konstantin Minevich
    https://codepen.io/humbl3man/pen/CuqIl
*/

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: ceter;
}

.lightbox-gallery div img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 5px;
  flex-basis: 450px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }
  .lightbox-gallery div {
    flex-basis: 0px;
  }
}